.bg-web {
    background-color: #e3e3e3;
}
.hr-news {
    height: 5px;
    background: linear-gradient(85deg,#007bff,#00ff51,#007bff,#00ff51);
    background-size: 400% 400%;
    background-position: center;
}
.border-input {
    border: none;
}
.upload-image {
    position: absolute;
    left: -1000000px;
}
.btn-css-css {
    background-color: #00882b;
    border: none;
    color: white;
}
.card-css {
    border: none;
}
.text-box {
    color: #00a52c;
}
.hr-box {
    height: 5px;
    background-color: #00a52c;
}
.hr-news-css {
    height: 5px;
    background-color: red;
}
.hr-doctors-css {
    height: 5px;
    background-color: #007bff;
}
.textdoc{
    color: #007bff;
}
.text-succss {
    color: #00882b;
}
.btn-css555 {
    border: none;
    background-color: #007bff;
    color: white;
}
.fade-web {
    animation: fade-web 0.75s ease-out;
}
.badge-css {
    background: linear-gradient(85deg,#007bff,#00ff51,#007bff,#00ff51);
    background-size: 400% 400%;
    background-position: center; 
    font-size: 18px;
    width: 190px;
}
.badge-css-2 {
    background: linear-gradient(85deg,#ff6f00,#ff6f00,#ff6f00,#ff6f00);
    background-size: 400% 400%;
    background-position: center; 
    font-size: 20px;
    width: 190px;
}
.pop-up {
    transition: 0.3s cubic-bezier(0.4,0,0.2,1), 0.3s cubic-bezier(0.4,0,0.2,1);
}
.pop-up:hover {
    transform: translateY(-3px);
}
.pop-up-table {
    transition: 0.3s cubic-bezier(0.4,0,0.2,1), 0.3s cubic-bezier(0.4,0,0.2,1);
}
.pop-up-table:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 4px black;
}
@keyframes fade-web {
    0% {
        transform: translateC(50px);
        opacity: 0;
    }
    100% {
        transform: translateC(0);
        opacity: 1;
    }
}
.image-css {
    object-fit: cover;
}
.navbar {
    background: linear-gradient(85deg,#007bff,#00ff51,#007bff,#00ff51);
    background-size: 400% 400%;
    background-position: center;
    transition: background 0.75s;
}
.navbar.scrolled {
    background: #007bff;
}
.section-bg {
    background: linear-gradient(85deg,#007bff,#00ff51,#007bff,#00ff51);
    background-size: 400% 400%;
    background-position: center;
    animation: 12s section-bg-css ease-out infinite;
}

@keyframes section-bg-css {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}
.navbar-brand {
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 30px;
}
.menu-active {
    padding: 10px;
    background-color: white;
    color: #004793;
    text-decoration: none;
    font-family: Tahoma;
}
.btn-css {
    padding: 5px;
    border: none;
    background-color: #00882b;
    color: white;
    width: 200px;
}
.ag-form-2 {
    background: linear-gradient(85deg,#007bff,#00ff51,#007bff,#00ff51);
    background-size: 400% 400%;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 45px;
}
.ag-form {
    background: linear-gradient(85deg,#007bff,#00ff51,#007bff,#00ff51);
    background-size: 400% 400%;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 45px;
}
.gg-css {
    background: linear-gradient(85deg,#007bff,#00ff51,#007bff,#00ff51);
    background-size: 400% 400%;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-size: 25px;
}
.btn-css-form {
    background: linear-gradient(85deg,#007bff,#00ff51,#007bff,#00ff51);
    background-size: 400% 400%;
    background-position: center;
    color: white;
    font-family: Tahoma;
    animation: btn-css-form 12s ease-out infinite;
}
@keyframes btn-css-form {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}
.h1-css {
    display: inline-block;
    font-family: Tahoma;
}
.doc-small {
    font-family: Tahoma;
    font-size: 35px;
    color: #004793;
}
.h1-css-aniamation {
    overflow: hidden;
    white-space: nowrap;
    animation: h-css 5s steps(200) forwards;
}
.name-laname{
    font-family: Tahoma;
    font-size: 30px;
    color: #004793;
}
.news{
    font-family: Tahoma;
    font-size: 25px;
    color: #004793;
}
.name-laname-2{
    font-family: Tahoma;
    font-size: 21px;
    color: #292929;
}
.name-laname-3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #004793;
}
@keyframes h-css {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}